@{
    ViewData["Title"] = "Home Page";
}

@section Header
{
          <div class="view" style="background-image: url('/images/mercedes.jpg'); background-repeat: no-repeat; background-size: cover; background-position: bottom center;">
            <div class="mask align-items-center" style="background-color: rgba(0, 0, 0, 0.6);">
              <div class="container-fluid py-5">
                <div class="row py-5 my-5">
                  <div class="col-12 text-white text-center my-5 wow fadeInLeft" data-wow-delay="0.3s">
                      <h2 class="mb-3">Best Luxury Car Rentals in Town</h2>
                    <h5 class="mb-4">Competitive rates and great cars</h5>
                    <a class="btn btn-outline-light btn-lg m-2 btn-dark-transparent" role="button" asp-controller="Booking" asp-action="Start">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
}