@model BookingCancellationsViewModel

@{
    ViewBag.Title = "Cancelled Bookings";
    ViewBag.IsAdmin = true; //Model.IsAdmin;
}

@section Header
{
    <partial name="_Banner" />
}

@if (Model.Bookings.Count == 0)
{
    <p>No bookings found.</p>
}
else
{
    <partial name="_BookingInfoTable" model="@Model.Bookings" />
}

