@model BookingIndexViewModel

@{
    ViewBag.IsAdmin = Model.IsAdmin;
}

@if (Model.CurrentBookings.Count > 0)
{
    <h3>Current Bookings</h3>
    <partial name="_BookingInfoTable" model="@Model.CurrentBookings" view-data="ViewData" />
}

@if (Model.UpcomingBookings.Count > 0)
{
    <h3>Upcoming bookings</h3>
    <partial name="_BookingInfoTable" model="@Model.UpcomingBookings" view-data="ViewData" />
}

@if (Model.PastBookings.Count > 0)
{
    <h3>Past bookings</h3>
    <partial name="_BookingInfoTable" model="@Model.PastBookings" view-data="ViewData" />
}


