@model AddVehicleViewModel

<form asp-controller="Admin" asp-action="AddVehicle" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="Year">Year:</label>
        <input type="number" id="Year" name="Year">
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Manufacturer">Manufacturer:</label>
        <input type="text" id="Manufacturer" name="Manufacturer">
        <span asp-validation-for="Manufacturer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Model">Model:</label>
        <input type="text" id="Model" name="Model">
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="LicensePlate">License Plate:</label>
        <input type="text" id="LicensePlate" name="LicensePlate">
        <span asp-validation-for="LicensePlate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="PricePerDay">Price per day:</label>
        <input type="number" step=".01" id="PricePerDay" name="PricePerDay">
        <span asp-validation-for="PricePerDay" class="text-danger"></span>
    </div>
    <input type="submit" value="Save">
</form>