@model AvailableCarsForBookingViewModel

<form asp-controller="User" asp-action="BookVehicle" method="get">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="BookingStart">Start Date:</label>
        <input type="datetime" id="BookingStart" name="BookingStart">
        <span asp-validation-for="BookingStart" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="BookingEnd">End Date:</label>
        <input type="datetime" id="BookingEnd" name="BookingEnd">
        <span asp-validation-for="BookingEnd" class="text-danger"></span>
    </div>
    <input type="submit" value="Search">
</form>
